header {
    box-sizing: border-box;
    width: 100vw;
    max-width: 180rem;
    margin: 0 auto;
    padding: 0 4rem;
    white-space: nowrap;
}
@media screen and (max-width: 76em) {
    .header__grid > span:first-child {
        display: none;
    }
}
@media screen and (min-width: 75em) {
    .header__grid {
        display: grid;
        grid-column-gap: 1.25rem;
        grid-template-columns: repeat(13, minmax(0, 1fr));
        align-items: center;
    }
    .header__grid > span:first-child {
        grid-column: 1 / 2;
        justify-self: center;
    }
}
.header__flex {
    padding: 2.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-link img {
    height: 3rem;
    width: auto;
}
.header__sub-nav ul {
    margin-left: 2rem;
    display: flex;
    align-items: center;
}
.header__sub-nav ul li {
    padding: 1rem 1.5rem;
}
/*search*/
.header__search {
    margin-left: 2rem;
    height: 4.4rem;
    min-width: 50rem;
    padding: 0 1.5rem;
    background: var(--lightgray);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.header__search-icon {
    margin-right: 1rem;
}
.search-box {
    display: block;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 1.6rem;
    height: 100%;
}